<div class="header-main">
    <div class="header-content">
        <div class="logo">

        </div>
        <ul class="nav-ul">
            <li class="float-left">
                <span class="exchange-centre float-left"></span>
                <span class="context-text">{{ 'headerExchangeNavBar' | translate }}</span>
            </li>
            
            <li class="float-right">
                <span class="order-centre float-left"></span>
                <span class="context-text">{{'headerOrdersNavBar' | translate}}</span>
            </li>
            <li class="float-right">
                <span class="asset-centre float-left"></span>
                <span class="context-text">{{ 'headerAssetsManagerNavBar' | translate}}</span>
            </li>
        </ul>
        <div class="login">
            <a href="">登录</a>
            <a href="">注册</a>
            <a href="javascript:;" (click)="changeLang()">切换</a>
        </div>
    </div>
</div>


