.header-main {
    width: 100%;
    height: 60px;
    background: #214998;
    color: #dddddd
}
.header-main .header-content {
    width: 1200px;
    height: 60px;
    margin: 0px auto;
    position: relative;
}
.header-main .header-content .logo {
    background: url('../../../../assets/img/logo.png');
    width: 125px;
    height: 60px;
}
.nav-ul{
    position: absolute;
    left: 125px;
    top: 0;
    height: 100%;
    width: 950px;
}
.nav-ul li {
    list-style: none;
    display: inline;
    padding-top: 13px;
    margin: 0 22px;
    cursor: pointer;
}
.nav-ul li span {
    display: inline-block;
}
.nav-ul li .exchange-centre{
    content: url('../../../../assets/img/jiaoyi.png');
}
.nav-ul li .asset-centre{
    content: url('../../../../assets/img/zichan.png');
}
.nav-ul li .order-centre{
    content: url('../../../../assets/img/weituo.png');
}
.nav-ul li .context-text{
    padding-top: 6px;
    font-size: 16px;
}
.header-main .header-content .login {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 15px;
    width: 125px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    padding-top: 18px;
    width: 125px;
    font-size: 18px;
}
.header-main .header-content .login a {
    color: #d4d4d4;
    margin: 0px 6px;
}
.header-main .header-content .login a:hover {
    color: #82868a;
    text-decoration: none;
}